<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
  </appSettings>
  <system.web>
    <authentication mode="Forms"/>
    <compilation debug="false" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5"/>
    <membership defaultProvider="NewAspNetSqlMembershipProvider">
      <providers>
        <add name="NewAspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider, System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" connectionStringName="NewLocalSqlServer" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="true" applicationName="/" requiresUniqueEmail="false" passwordFormat="Hashed" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="7" minRequiredNonalphanumericCharacters="1" passwordAttemptWindow="10" passwordStrengthRegularExpression=""/>
      </providers>
    </membership>
    <profile defaultProvider="NewAspNetSqlProfileProvider">
      <properties>
        <add name="FirstName" type="String"/>
        <add name="lastName" type="String"/>
        <add name="Birthdate" type="DateTime"/>
        <group name="Addess">
          <add name="Street" type="String"/>
          <add name="City" type="String"/>
          <add name="State" type="String"/>
          <add name="Country" type="String"/>
          <add name="Zip" type="String"/>
        </group>
      </properties>
      <providers>
        <add name="NewAspNetSqlProfileProvider" connectionStringName="NewLocalSqlServer" applicationName="/" type="System.Web.Profile.SqlProfileProvider, System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
      </providers>
    </profile>
    <roleManager enabled="true" defaultProvider="NewAspNetSqlRoleProvider">
      <providers>
        <add connectionStringName="NewLocalSqlServer" applicationName="/" name="NewAspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider, System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
      </providers>
    </roleManager>
  </system.web>
  <connectionStrings>
    <add name="Database" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|\Database.mdf;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <add name="NewLocalSqlServer" connectionString="data source=(LocalDB)\v11.0;Integrated Security=True;AttachDBFilename=|DataDirectory|aspnetdb.mdf" providerName="System.Data.SqlClient"/>
  </connectionStrings>

  <location path="Admin.aspx">
    <system.web>
      <authorization>
        <allow roles="admin"/>
        
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="ViewProfile.aspx">
    <system.web>
      <authorization>
        <allow roles="admin"/>
        <allow roles="user"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
</configuration>